<div *ngIf="!isLoadingGeneral" class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="back()">Back</button>
  </div>
</div>
<div *ngIf="!isLoadingGeneral">
  <br>
</div>
<ngx-form-loading [is_loading]="isLoadingGeneral"></ngx-form-loading>
<nb-card *ngIf="!isLoadingGeneral">
  <nb-card-header>Packing Slip</nb-card-header>
  <nb-card-body *ngIf="!isLoadingGeneral">
    <div class="row">
      <!--left side-->
      <div class="col-md-6">
        <ngx-header-detail label="Packing slip no." content="{{datasets['code']}}"></ngx-header-detail>
      </div>

      <!--right side-->
      <div class="col-md-6">
        <ngx-header-detail label="Packing slip date" content="{{datasets['date'] | date:'mediumDate'}}"></ngx-header-detail>
      </div>
    </div>

    <br>
    <ngx-header-detail *ngIf="false" label="Driver" content="{{datasets['user']?.employee?.name}}"></ngx-header-detail>
    <div class="row">
      <!--left side-->
      <div class="col-md-6" *ngIf="false">
        <ngx-header-detail label="Branch" content="{{datasets['user']?.branch?.name}}"></ngx-header-detail>
      </div>
      <!--right side-->
      <div class="col-md-6" *ngIf="false">
        <ngx-header-detail label="Division" content="{{datasets['user']?.division?.division_name}}"></ngx-header-detail>
      </div>
    </div>

    <br>
    <ngx-header-detail label="Customer" content="{{datasets['customer']?.name}}"></ngx-header-detail>
    <ngx-header-detail label="Delivery Address" content="{{datasets['customer']?.address}}"></ngx-header-detail>
    <div class="row">
      <!--left side-->
      <div class="col-md-6">
        <ngx-header-detail label="Lat" content="{{datasets['customer']?.lat}}"></ngx-header-detail>
        <ngx-header-detail *ngIf="false" label="Customer Branch" content="{{datasets['customer_branch']?.name}}"></ngx-header-detail>
        <ngx-header-detail *ngIf="false" label="PIC" content="{{datasets['pic']}}"></ngx-header-detail>
      </div>
      <!--right side-->
      <div class="col-md-6">
        <ngx-header-detail label="Lng" content="{{datasets['customer']?.lng}}"></ngx-header-detail>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!isLoadingGeneral">
  <nb-tabset>
    <nb-tab tabTitle="Items">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Brand Name</th>
            <th>Item Name</th>
            <th>Qty</th>
            <th *ngIf="false">Unit</th>
            <th *ngIf="false">Unit Price</th>
            <th *ngIf="false">Discount</th>
            <th *ngIf="false">Sub Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataItems; let i = index">
            <td>{{i+1}}</td>
            <td>{{data.brand_name}}</td>
            <td>{{data.product_name}}</td>
            <td>{{data.quantity}}</td>
            <td *ngIf="false">--</td>
            <td *ngIf="false">{{data.unit_price}}</td>
            <td *ngIf="false">{{data.discount}}</td>
            <td *ngIf="false">{{data.total_discount}}</td>
          </tr>
        </tbody>
      </table>
    </nb-tab>

    <!-- <nb-tab tabTitle="Uploaded Images">
      <img src="/uploads/sketch01.png">
    </nb-tab> -->
  </nb-tabset>
</nb-card>
