<nb-card>
  <nb-card-header>Customers
    
    <div class="float-right">
      <div *ngIf="!seeDetail">
        <button class="btn btn-sm btn-success" (click)="exportExcel()">
          <i class="fa fa-file-excel"></i>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-danger" (click)="dataFilter()">
          <i class="fa fa-filter"></i>
        </button>
      </div>
    </div>
    
  </nb-card-header>
  <toaster-container></toaster-container>

  <nb-card-body>

    <div *ngIf="module !== 'settings'">
      <button class="btn btn-primary" type="button" routerLink="/pages/customers/{{module}}/create">
        Create New Customer
      </button>
      <button class="btn btn-primary" type="button" routerLink="/pages/customers/{{module}}/import">
        Import
      </button>
    </div>
    <div *ngIf="module == 'settings'">
      <button class="btn btn-primary" type="button" routerLink="/pages/{{module}}/customers/create">
        Create New Customer
      </button>
      <button class="btn btn-primary" type="button" routerLink="/pages/{{module}}/customers/import">
        Import
      </button>
    </div>
    <br>
    <br>
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
      <thead>
      <tr>
        <th>No.</th>
        <th>Created Date</th>
        <th>Name</th>
        <th>Code</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datasets; let i = index">
        <td>{{(i + 1) + startNumber }}</td>
        <!-- @TODO: Fix harusnya ada medium date -->
        <!--<td>{{data.create_date | date: 'mediumDate'}}</td>-->
        <td>{{data.update_date }}</td>
        <td>{{data.name}}</td>
        <td>{{data.code}}</td>
        <td>{{data.address}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.category}}</td>
        <td>
          <a class="icon-container" href="javascript:void(0)">
            <i class="nb-icons nb-search" (click)="dataView(data.code)"></i>
          </a>
          <a class="icon-container" href="javascript:void(0)">
            <i class="nb-icons nb-edit" (click)="dataEdit(data.code)"></i>
          </a>
          <a class="icon-container" href="javascript:void(0)">
            <i class="nb-icons nb-trash" (click)="dataHapus(data.code)"></i>
          </a>
          <ngx-index-approval-flag [data]="data"></ngx-index-approval-flag>

        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>

</nb-card>
