<nb-card>
  <nb-card-header>Assets Type</nb-card-header>
  <toaster-container></toaster-container>

  <nb-card-body>
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
      <thead>
      <tr>
        <th>No.</th>
<!--        <th>ID Assets</th>-->
        <th>Description</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datasets; let i = index;">
        <td>{{ (i + 1) + startNumber }}</td>
<!--        <td>{{ data.code }}</td>-->
        <td>{{ data.name }}</td>
        <td>{{ (data.isActive == 1) ? 'Active' : 'Inactive'}}</td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>

</nb-card>
