<nb-card>
  <nb-card-header>{{feature | ngxCapitalize}}
    <div class="float-right">
      <!--      <ngx-filter-button [indexTable]="indexTable"></ngx-filter-button>-->
    </div>
  </nb-card-header>
  <toaster-container></toaster-container>

  <nb-card-body>
    <button class="btn btn-primary" type="button" (click)="dataCreate()">
      Create New {{feature | ngxCapitalize}} Employee
    </button>
    <button class="btn btn-primary" type="button" (click)="dataImport()">
      Import
    </button>
    <br>
    <br>
    <ngx-index-table
      [endPoint]="endPoint"
      [urlReplacement]="replacement"
      [tableData]="tableData"
      [actionButton]="actionButton"
      [withAction]="true"
      [withNumber]="true"
      #indexTable></ngx-index-table>
  </nb-card-body>

</nb-card>
