<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-3">
        <h3>Collector Dashboard</h3>
      </div>
      <div class="col-md-9" *ngIf="true">
        <div class="float-right">
          <div class="form-inline">
            <div class="form-group">
              <div class="form-group" [formGroup]="dataFormFilter">
                <div class="input-group">
                  <!--suppress XmlDuplicatedId -->
                  <input id="select_date_start" class="form-control" style="float:none" placeholder="Select Date Start"
                         name="select_date_start" ngx-mydatepicker
                         value="{{ (serverErrors['date_start'] != null && serverErrors['date_start'] != '') ? serverErrors['date_start'] : (dataFormFilter.controls['date_start'].value | date:'mediumDate') }}"
                         [options]="dateConfigurationStart"
                         [ngClass]="{'form-control form-control-danger': serverErrors['date_start'], 'form-control': true}"
                         #dp_start="ngx-mydatepicker" (dateChanged)="onDateStartChanged($event)" readonly/>
                  <span class="input-group-append">
                    <button type="button" class="btn btn-info" (click)="dp_start.toggleCalendar()">
                      <i class="ion ion-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            &nbsp;-&nbsp;
            <div class="form-group">
              <div class="form-group" [formGroup]="dataFormFilter">
                <div class="input-group">
                  <!--suppress XmlDuplicatedId -->
                  <input id="select_date_end" class="form-control" style="float:none" placeholder="Select Date End"
                         name="select_date_end" ngx-mydatepicker
                         value="{{ (serverErrors['date_end'] != null && serverErrors['date_end'] != '') ? serverErrors['date_end'] : (dataFormFilter.controls['date_end'].value | date:'mediumDate') }}"
                         [options]="dateConfigurationEnd"
                         [ngClass]="{'form-control form-control-danger': serverErrors['date_end'], 'form-control': true}"
                         #dp_end="ngx-mydatepicker" (dateChanged)="onDateEndChanged($event)" readonly/>
                  <span class="input-group-append">
                    <button type="button" class="btn btn-info" (click)="dp_end.toggleCalendar()">
                      <i class="ion ion-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="false">
              <button class="btn btn-primary"><i class="fa fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    
    <!-- performance collector -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-2" style="text-align: left">
            <div style="padding-top: 110px;">
              <h5>Performance <br> {{dateStringTitle}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <table class="table box">
              <tr>
                <th colspan="2">
                  <h4>Collector</h4>
                </th>
              </tr>
              <tr>
                <td style="border-top: none;">
                  <div style="padding-top:50px;">
                    <h3>{{ totalPlanCollector }}</h3>
                    <b>Plan</b>
                  </div>
                </td>
                <td style="border-top: none;">
                  <div style="padding-top:50px;">
                    <h3>{{ totalVisitCollector }}</h3>
                    <b>Visited</b>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <div *ngIf="data_collect_method.length > 0" class="table-wrap">
              <table class="table dashboard">
                <tbody>
                  <tr *ngFor="let item of data_collect_method; let i = index">
                    <th>{{item.label}}</th>
                    <td style="padding-left: 30px;">{{item.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-7">
        <h3 class="header">Plan Vs Actual Collector</h3>
        <b>Time Period : {{ dateStringTitle }}</b>
      </div>
      <div class="col-md-5 text-center">
        <h3 class="header">Payments Made</h3>
        <b>Time Period : {{ dateStringTitle }}</b>
      </div>
    </div>
    <hr/>
    <div class="row mt-5">
      <div class="col-md-7">
        <ngx-horizontal-bar #barInvoice></ngx-horizontal-bar>
      </div>
      <div class="col-md-5">
        <ngx-pie-chart #pieCollectMethod></ngx-pie-chart>
      </div>
    </div>

    <!-- <div class="row mt-5">
      <div class="col-md-12">
        <div class="p-3">
          <img src="assets/images/users2.png" width="50" height="50" style="margin: 5px 0;"/>
          <button type="button" class="btn btn-primary ml-4" (click)="gotoDetailEmployeePerformance('collector')">Go</button>
        </div>
        <h5 class="header">Collector employee performance</h5>
      </div>
    </div> -->

    <!-- body section end -->
    <!-- row 3 end -->

  </nb-card-body>
</nb-card>
